section {
    display: block
}

html {
    scroll-behavior: smooth
}

video {
    display: inline-block;
    vertical-align: baseline
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

small {
    font-size: 3rem
}

h1 {
    margin: .67em 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000
}

.button {
    align-items: center;
    text-align: center;
}

.btn {
    width: 250px;
    height: 70px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 greenyellow;
    transition: ease-out 0.5s;
    font-size: 1.5rem;
    outline: none;

    font-family: Pacifico, cursive;
}

.btn:hover {
    box-shadow: inset 250px 0 0 0 rgb(123, 255, 0);
    cursor: pointer;
    color: black;
}

.size_c {
    padding: 3px 20px;
    border-radius: 10px;

    font-family: 'Silkscreen', cursive;
    font-size: 1.1rem;
    background-color: red;
    color: white;
    transition: ease-out 0.3s;
}

.size_c:hover {
    background-color: greenyellow;
}

.size_c:hover {
    font-size: 1.2rem;
    color: black;
}

.size_div {
    padding: 20px;
    align-items: center;
}

.size__opts {

    font-family: 'Silkscreen', cursive;
}

.buysec {


    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    
    padding-left: 200px;
    padding-right: 150px;
    padding-bottom: 99px;
}

h1 {
    font-weight: 700;
    margin-bottom: 10px
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px
}

.list_type {
    padding-left: 0;
    list-style: none
}

.lmao:after,
.lmao:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.lmao:after {
    clear: both
}

@media screen and (max-width:991px) {.buysec{
    display: block;
    padding-top: 50px;
    padding-left: 142px;
}
.button{
    margin-left: auto;
    margin-right: auto;
}
.size_div{
    padding-top: 50px;
}
}

@media screen and (max-width:479px) {
.buysec{
    padding: 0px;
}
}
.w-background-video {
    position: relative;
    overflow: hidden;
    height: 500px;
    color: #fff
}

.navimg {
    height: 100%;
    width: 70px
}

.w-background-video>video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100
}

@media screen and (max-width:767px) {
    .w-nav-brand {
        padding-left: 10px
    }
}

.w-nav {
    position: relative;
    background: #ddd;
    z-index: 1000
}

.w-nav:after,
.w-nav:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-nav:after {
    clear: both
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #000
}

@media screen and (max-width:767px) {
    .w-nav-brand {
        padding-left: 10px
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700
}

.background-video {
    position: static;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: auto;
    height: auto;
    clear: both;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -o-object-fit: fill;
    object-fit: fill
}

.main {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 74px;
    padding-bottom: 145px;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border: 1px #000;
    background-color: transparent
}

.body-2 {
    background-color: #000
}

.heading {
    position: static;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: #fffdfd;
    background-image: none;
    -webkit-filter: saturate(106%);
    filter: saturate(106%);
    outline-offset: 0;
    outline: #fff 5px;
    font-family: Avertastd, sans-serif;
    color: #fff;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    letter-spacing: -.5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.main_shoe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.navdiv2 {
    z-index: 5;
    width: 100%;
    max-width: 2000px;
    padding: 0 0;
    background-color: #000;
    padding-right: 16px;
    padding-left: 16px
}

.navdiv3 {
    width: 100%;
    max-width: none;
    min-height: 30px;
    margin-right: auto;
    margin-left: auto
}

.nav_li:hover {
    color: grey;
    transition: ease-in-out .3s
}

.div_logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden
}

.img_logo {
    width: 170px
}

.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.nav_li {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px #000;
    font-family: Avertastd, sans-serif;
    color: #adadad;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase
}

.nav_li:hover {
    color: #fff
}

.text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Avertastd, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    text-align: center
}

.contain {
    display: block;
    width: 100%;
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: both;
    background-color: transparent
}

.section {
    margin-top: 0;
    padding-top: 120px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000d38), to(#000));
    background-image: linear-gradient(180deg, #000d38, #000)
}

.foot {
    position: relative;
    padding: 50px 30px 40px;
    border: 1px #000;
    outline-offset: 0;
    outline: #000 3px
}

.divider {
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #1e2227
}

.contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.madeby {
    font-family: Avertastd, sans-serif;
    color: #60666d
}

.image-13 {
    margin-right: auto;
    margin-left: auto
}

.foot_logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-right: auto;
    margin-left: auto
}

.shoeprice {
    overflow: visible;
    margin-top: 0;
    font-family: Avertastd, sans-serif;
    color: #db7035;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none
}

.shoeprice._2 {
    margin-top: 4px;
    margin-bottom: -40px;
    padding-top: 0;
    color: #14bba8
}

.list {
    padding-left: 0;
    list-style-type: none
}

@media screen and (max-width:991px) {
    .heading {
        margin-right: 40px;
        margin-left: 40px
    }

    .navdiv2 {
        padding-right: 16px;
        padding-left: 16px
    }

    .nav-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #000
    }

    .nav_li {
        padding-right: 5px;
        padding-left: 5px
    }

    .contain {
        max-width: 728px
    }

    .section {
        padding-top: 80px
    }
}

@media screen and (max-width:767px) {
    .main {
        position: relative
    }

    .img_logo {
        width: 40px;
        padding-left: 0
    }

    .nav-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 0;
        padding-left: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .nav_li {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px
    }

    .section {
        padding-top: 48px
    }

    .foot {
        padding-right: 15px;
        padding-left: 15px
    }

    .contact {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .madeby {
        font-size: 14px;
        line-height: 20px
    }

    @media screen and (max-width:479px) {
        .main {
            padding-top: 64px
        }

        .body-2 {
            display: block
        }

        .heading {
            margin-right: 24px;
            margin-left: 24px;
            padding-right: 16px;
            padding-left: 16px;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -.5px
        }

        .main_shoe {
            width: 100%;
            height: 90px;
            margin-right: auto;
            margin-left: auto
        }

        .main_shoe.small {
            width: auto;
            height: auto;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-transform: scale(.7);
            -ms-transform: scale(.7);
            transform: scale(.7)
        }

        .nav-menu {
            display: none;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-flex: 0;
            -webkit-flex: 0 auto;
            -ms-flex: 0 auto;
            flex: 0 auto;
            opacity: 1
        }

        .text-block {
            font-size: 14px
        }

    }

    .contacts {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 0;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .contain {
        max-width: none
    }

    @media screen and (max-width:540px) {
        .nav_li {
            padding: 0
        }
        .buysec{
            padding: 10px;
        }
        .size_div{
            padding-top: 50px;
        }
    }

    .section {
        margin-top: 0;
        padding-top: 40px
    }

    .contact {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        grid-column-gap: 19px;
        grid-row-gap: 19px
    }
}