section {
    display: block
}

html {
    scroll-behavior: smooth
}

video {
    display: inline-block;
    vertical-align: baseline
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

small {
    font-size: 3rem
}

h1 {
    margin: .67em 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000
}

.w-inline-block {
    max-width: 100%;
    display: inline-block
}

h1,
h3 {
    font-weight: 700;
    margin-bottom: 10px
}

h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px
}

.w-list-unstyled {
    padding-left: 0;
    list-style: none
}

.w-embed:after,
.w-embed:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-embed:after {
    clear: both
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.w-container:after,
.w-container:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-container:after {
    clear: both
}

@media screen and (max-width:991px) {
    .w-container {
        max-width: 728px
    }
}

@media screen and (max-width:479px) {
    .w-container {
        max-width: none
    }
}

.w-background-video {
    position: relative;
    overflow: hidden;
    height: 500px;
    color: #fff
}

.navimg {
    height: 100%;
    width: 70px
}

.w-background-video>video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100
}

@media screen and (max-width:767px) {
    .w-nav-brand {
        padding-left: 10px
    }
}

.w-nav {
    position: relative;
    background: #ddd;
    z-index: 1000
}

.w-nav:after,
.w-nav:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-nav:after {
    clear: both
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #000
}

@media screen and (max-width:767px) {
    .w-nav-brand {
        padding-left: 10px
    }
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700
}

.background-video {
    position: static;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: auto;
    height: auto;
    clear: both;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -o-object-fit: fill;
    object-fit: fill
}

.hero {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border: 1px #000;
    background-color: transparent
}

.body-2 {
    background-color: #000
}

.heading {
    position: static;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: #fffdfd;
    background-image: none;
    -webkit-filter: saturate(106%);
    filter: saturate(106%);
    outline-offset: 0;
    outline: #fff 5px;
    font-family: Avertastd, sans-serif;
    color: #fff;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    letter-spacing: -.5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.html-embed-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 200;
    margin-top: -1px;
    background-color: rgba(0, 0, 0, .95);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px)
}

.navbar-no-shadow-container {
    z-index: 5;
    width: 100%;
    max-width: 2000px;
    padding: 0 0;
    background-color: #000;
    padding-right: 16px;
    padding-left: 16px
}

.container-regular {
    width: 100%;
    max-width: none;
    min-height: 30px;
    margin-right: auto;
    margin-left: auto
}

.nav-link:hover {
    color: grey;
    transition: ease-in-out .3s
}

.navbar-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden
}

.navbar-brand {
    width: 170px
}

.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.nav-link {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px #000;
    font-family: Avertastd, sans-serif;
    color: #adadad;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase
}

.nav-link:hover {
    color: #fff
}

.text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Avertastd, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    text-align: center
}

.features {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 80px 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px #000;
    background-color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0e0e11), to(#000));
    background-image: linear-gradient(180deg, #0e0e11, #000);
    font-family: Avertastd, sans-serif
}

.feature-grid {
    display: -ms-grid;
    display: grid;
    max-width: 1240px;
    margin-top: 0;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto
}

.feature-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #21262b;
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#050e2a), to(#000));
    background-image: linear-gradient(180deg, #050e2a, #000);
    text-align: center
}

.pricing-image {
    height: 200px;
    max-width: 100%;
    margin-bottom: 16px;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 0 5px 0 5px
}

.heading-2 {
    font-family: Avertastd, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 0;
    font-weight: 600;
    letter-spacing: -.4px
}

.title-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 750px;
    max-width: 800px;
    margin-right: auto;
    margin-bottom: -20px;
    margin-left: auto;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.feature-heading {
    margin-top: 96px;
    margin-bottom: 0;
    padding-bottom: 40px;
    font-family: Avertastd, sans-serif;
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    text-align: center
}

.compete-container {
    position: relative;
    padding: 150px 30px 120px;
    border: 1px #000;
    background-color: #040618;
    background-image: url(https://assets.website-files.com/630c8a04ef122174d27acf30/6314dbf4553f41b830045dec_bg.svg), linear-gradient(180deg, #040618, #000);
    background-position: 50% 95%, 0 0;
    background-size: auto, auto;
    background-repeat: repeat-x, repeat;
    -o-object-fit: fill;
    object-fit: fill
}

.container-6 {
    display: block;
    width: 100%;
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: both;
    background-color: transparent
}

.section {
    margin-top: 0;
    padding-top: 120px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000d38), to(#000));
    background-image: linear-gradient(180deg, #000d38, #000)
}

.div-block-8 {
    padding-top: 40px;
    padding-bottom: 40px;
    transition: transform .5s
}

.div-block-8:hover {
    transform: scale(1.11);
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px #00f
}

.footer-subscribe {
    position: relative;
    padding: 50px 30px 40px;
    border: 1px #000;
    outline-offset: 0;
    outline: #000 3px
}

.footer-divider-two {
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #1e2227
}

.footer-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.footer-copyright {
    font-family: Avertastd, sans-serif;
    color: #60666d
}

.image-13 {
    margin-right: auto;
    margin-left: auto
}

.div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-right: auto;
    margin-left: auto
}

.container-12 {
    max-width: 1240px;
    margin-bottom: 100px
}

.grid-3 {
    margin-top: 80px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0
}

.div-block-14 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-position: 0 0, 0 0, 0 0;
    background-size: auto, cover, auto
}

.div-block-14._2 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-2.jpg), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._1 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoe-1.jpg), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
    background-position: 0 0, 0 0, 0 0;
    background-size: auto, cover, auto;
    transition: ease 2s
}

.div-block-14._1:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(https://m.media-amazon.com/images/I/8138e1P39oL._UY695_.jpg);
    background-position: 0 0, 0 0;
    background-size: auto, cover
}

.div-block-14._2:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(https://m.media-amazon.com/images/I/81DXi2otz2L._UX575_.jpg);
    background-position: 0 0, 0 0;
    background-size: auto, cover
}

.div-block-14._3 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-3.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._3:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-3h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._4 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-4.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._4:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoe-4h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._5 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-5.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._5:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-5h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._6 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-6.jpg), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._6:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(https://m.media-amazon.com/images/I/81PQ75zqSzL._UX695_.jpg);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._7 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-7.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._7:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-7h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._8 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-8.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._8:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-8h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._9 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-9.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._9:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-9h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._10 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-10.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._10:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-10h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._11 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-11.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._11:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-11h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._12 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-12.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._12:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-12h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._13 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-13.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._13:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-13h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._14 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-14.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._14:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-14h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._15 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-15.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._15:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-15h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._16 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-16.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._16:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-16h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._17 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-17.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._17:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-17h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.div-block-14._18 {
    border-radius: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-18.png), -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff))
}

.div-block-14._18:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-18h.png);
    background-position: 100pxpx 0, 0 0;
    background-size: 80%, 100%
}

.text-block-6 {
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 4px;
    font-family: Avertastd, sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -.2px
}

.text-block-7 {
    overflow: visible;
    margin-top: 0;
    font-family: Avertastd, sans-serif;
    color: #db7035;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none
}

.text-block-7._1 {
    margin-top: 4px;
    margin-bottom: -40px;
    padding-top: 0
}

.text-block-7._2 {
    margin-top: 4px;
    margin-bottom: -40px;
    padding-top: 0;
    color: #14bba8
}

.text-block-7._3 {
    margin-top: 4px;
    margin-bottom: -40px;
    padding-top: 0;
    color: #9084ff
}

.text-block-7._4 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #af9246
}

.text-block-7._5 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #c0448d
}

.text-block-7._6 {
    margin-top: 4px;
    margin-bottom: -40px
}

.text-block-7._7 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #14bba8
}

.text-block-7._8 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #9084ff
}

.text-block-7._9 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #dd3c44
}

.text-block-7._10 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #84ffda
}

.text-block-7._11 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #c4e218
}

.text-block-7._12 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #d827ac
}

.text-block-7._13 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #70f
}

.text-block-7._14 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #f85b00
}

.text-block-7._15 {
    margin-top: 4px;
    margin-bottom: -40px;
    color: #0084ff
}

.link-block {
    width: 100%;
    height: 280px;
    text-decoration: none
}

.link-block:hover {
    opacity: 1;
    outline-offset: 0;
    outline: #00e 3px;
    mix-blend-mode: normal
}

.link-block._1:hover {
    border: 1px #000;
    outline-offset: 0;
    outline: #00e 3px
}

.div-block-15 {
    height: 280px;
    border: 1px #000;
    border-radius: 16px;
    -webkit-filter: brightness(100%);
    filter: brightness(100%)
}

.div-block-15:hover {
    border: 1px #c5c5c5;
    -webkit-filter: none;
    filter: none;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-perspective: 1392px;
    perspective: 1392px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.list {
    padding-left: 0;
    list-style-type: none
}

@media screen and (max-width:991px) {
    .heading {
        margin-right: 40px;
        margin-left: 40px
    }

    .navbar-no-shadow-container {
        padding-right: 16px;
        padding-left: 16px
    }

    .nav-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #000
    }

    .nav-link {
        padding-right: 5px;
        padding-left: 5px
    }

    .features {
        padding-right: 32px;
        padding-left: 32px
    }

    .feature-grid {
        grid-column-gap: 16px;
        grid-row-gap: 16px
    }

    heading-2 {
        padding-bottom: 16px;
        font-size: 18px
    }

    .title-section {
        margin-right: auto;
        margin-left: auto
    }

    .feature-heading {
        display: block;
        margin-bottom: 32px;
        padding-right: 20px;
        padding-bottom: 0;
        padding-left: 20px;
        font-size: 46px;
        text-align: center
    }

    .compete-container {
        padding-right: 0;
        padding-bottom: 80px;
        padding-left: 0
    }

    .container-6 {
        max-width: 728px
    }

    .section {
        padding-top: 80px
    }

    .grid-3 {
        margin-right: 32px;
        margin-left: 32px
    }

    .div-block-14._1,
    .div-block-14._2,
    .div-block-14._3,
    .div-block-14._4,
    .div-block-14._5,
    .div-block-14._6,
    .div-block-14._7,
    .div-block-14._8 {
        background-position: 0 0, 50% 50%, 0 0
    }

    .text-block-6 {
        padding-bottom: 0;
        font-size: 20px
    }
}

@media screen and (max-width:767px) {
    .hero {
        position: relative
    }

    .navbar-brand {
        width: 40px;
        padding-left: 0
    }

    .nav-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 0;
        padding-left: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .nav-link {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px
    }

    .features {
        padding: 60px 15px 48px
    }

    .feature-card {
        padding-bottom: 32px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .heading-2 {
        padding-top: 15px;
        padding-bottom: 4px
    }

    .title-section {
        width: 100%
    }

    .feature-heading {
        font-size: 40px;
        line-height: 47px
    }

    .compete-container {
        padding: 60px 16px
    }

    .section {
        padding-top: 48px
    }

    .footer-subscribe {
        padding-right: 15px;
        padding-left: 15px
    }

    .footer-bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .footer-copyright {
        font-size: 14px;
        line-height: 20px
    }

    .text-block-6 {
        font-size: 16px;
        line-height: 24px
    }

    .text-block-7._1 {
        font-size: 16px
    }

    .discordo {
        height: auto;
        width: 50%
    }

    .discordo img {
        width: 100%
    }

    @media screen and (max-width:479px) {
        .hero {
            padding-top: 64px
        }

        .body-2 {
            display: block
        }

        .heading {
            margin-right: 24px;
            margin-left: 24px;
            padding-right: 16px;
            padding-left: 16px;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -.5px
        }

        .html-embed-2 {
            width: 100%;
            height: 90px;
            margin-right: auto;
            margin-left: auto
        }

        .html-embed-2.mobile {
            width: auto;
            height: auto;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-transform: scale(.7);
            -ms-transform: scale(.7);
            transform: scale(.7)
        }

        .nav-menu {
            display: none;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-flex: 0;
            -webkit-flex: 0 auto;
            -ms-flex: 0 auto;
            flex: 0 auto;
            opacity: 1
        }

        .text-block {
            font-size: 14px
        }

        .features {
            padding: 48px 16px 0
        }

        .feature-grid {
            grid-column-gap: 24px;
            grid-row-gap: 24px;
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr
        }

        .feature-card {
            padding-top: 32px;
            padding-bottom: 32px
        }

        .pricing-image {
            margin-bottom: 0
        }

        .title-section {
            width: 100%;
            margin: 0 auto;
            padding-bottom: 0
        }

        .feature-heading {
            margin-top: 24px;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -.2px
        }

        .compete-container {
            padding-top: 32px;
            padding-bottom: 56px;
            background-position: 50% 104%, 0 0;
            background-size: 790px 760px, auto;
            background-repeat: repeat-x, repeat
        }

        .footer-contacts {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-left: 0;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .container-6 {
            max-width: none
        }

        @media screen and (max-width:540px) {
            .nav-link {
                padding: 0
            }
        }

        .section {
            margin-top: 0;
            padding-top: 40px
        }

        .footer-bottom {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            grid-column-gap: 19px;
            grid-row-gap: 19px
        }

        .container-12 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            max-width: 100%;
            margin: -58px auto 80px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            grid-column-gap: 0;
            grid-row-gap: 0
        }

        .grid-3 {
            display: block;
            overflow: visible;
            width: 100%;
            max-width: 100%;
            margin: 0 16px;
            padding-bottom: 0;
            -webkit-box-flex: 0;
            -webkit-flex: 0 auto;
            -ms-flex: 0 auto;
            flex: 0 auto
        }

        .div-block-14._2 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-2.jpg);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._1 {
            width: 100%;
            height: 220px;
            margin-right: auto;
            margin-left: auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: stretch;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoe-1.jpg);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._1:hover {
            background-position: 0 0, 50% 50%
        }

        .div-block-14._3 {
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-3.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._4 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-4.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._5 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-5.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._6 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-6.jpg);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._7 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-7.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._8 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-8.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._9 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-9.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._10 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-10.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._11 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-11.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._12 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-12.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._13 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-13.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._14 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-14.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._15 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-15.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._16 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-16.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._17 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-17.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .div-block-14._18 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000)), url(shoes-18.png);
            background-position: 0 0, 50% 50%;
            background-size: auto, cover
        }

        .text-block-6 {
            padding-bottom: 4px;
            font-size: 20px
        }

        .link-block._1 {
            width: 100%;
            height: 100%;
            margin-bottom: 16px;
            padding-bottom: 0;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            -ms-grid-row-align: auto;
            align-self: auto;
            -webkit-box-flex: 0;
            -webkit-flex: 0 auto;
            -ms-flex: 0 auto;
            flex: 0 auto
        }

        .div-block-15 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            min-width: 100%;
            margin-right: auto;
            margin-bottom: 24px;
            margin-left: auto;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between
        }
    }
}